<div class="container" style="text-align: center; padding: 100px 200px">
  <p style="text-align: center"><%= @question %></p>
  <p style="text-align: center; color: grey">-- You</p>
</div>
<div class="container" style="text-align: center; padding: 100px 200px">
  <p style="text-align: center"><%= @answer %></p>
  <p style="text-align: center; color: grey">-- Your coach</p>
<!--   <a href="ANCHOR_URL">Ask a new question</a>
 -->
  <%= link_to "Ask a new question", 'ask' %>
</div>
